
.icon-thumbs-up:before { content: '\e800'; } /* '' */
.icon-thumbs-up-1:before { content: '\e801'; } /* '' */
.icon-heart:before { content: '\e802'; } /* '' */
.icon-comment:before { content: '\e803'; } /* '' */
.icon-comment-1:before { content: '\e804'; } /* '' */
.icon-comment-2:before { content: '\e805'; } /* '' */
.icon-comment-inv:before { content: '\e806'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-comment-3:before { content: '\f4ac'; } /* '' */