*{
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: font;
  src: url('./global/assets/hel.otf');
}
body{
  width: 100%;
  height: 100%;
  background-color: #e6ecf0;
}
header{
  width: 100%;
  height: 54px;
  background-color: #FFF;
  display: flex;
  flex-flow: row nowrap;

}
div.banner{
  width: 100%;
  height: auto;
  background-color: rgb(173, 173, 173);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-image: url('./global/assets/av.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.12), 0px 1px 0px 0px rgba(0,0,0,0.1);

}
div.profile_pic{
  width: 100%;
  height: 250px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
div.sub_profile_pic{
  width: 40%;
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: flex-end
}
div.profile_pic_foto{
  width: 190px;
  height: 190px;
  border-radius: 50%;
  border: 5px solid #FFF;
  background-color: gainsboro;
  margin-bottom: 10px;
  display: flex;
  flex-flow: row;
}
div.profile_pic_foto img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
div.profile_info{
  width: 100%;
  height: 80px;
  display: flex;
  flex-flow: column;
}
div.profile_name{
  width: 100%;
  height: 50%;
  font-family: font;
  display: flex;
  flex-flow: row;
  justify-content: center;
  font-size: 15px;
}
div.profile_username{
  width: 100%;
  height: 50%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  font-size: 14px;
  color: gray;
  font-family: font;
}
div.profile_est{
  width: 100%;
  height: 60px;
  background-color: #fff;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.container{
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 60%;
}
div.profile_est_block{
  min-width: 90px;
  width: auto;
  height: 100%;
  /* background-color: firebrick; */
  margin-left: 5px;
  display: flex;
  flex-flow: column;
}
div.profile_est_block_inf{
  width: 100%;
  height: 50%;
  font-family: font;
  color: gray;
  display: flex;
  flex-flow: row;
  justify-content: center;
}
div.title{
  align-items: flex-end;
}
div.profile_est_block_inf h3{
  font-size: 14px;
  text-align: end;
  margin-bottom: 3px;
}
.button-block{
width: 20%;
height: 100%;
display: flex;

flex-flow: row;
justify-content: center;
align-items: center;
}
.button-block button{
  outline:none;
  height: 40px;
  text-align: center;
  width: 120px;
  border-radius:40px;
  background: #fff;
  border: 2px solid gray;
  color:gray;

  text-shadow:0;
}
section.profile{
  margin-top: 10px;
  width: 100%;
  height: 1000px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
div.profile_wrapper{
  width: 90%;
  height:100%;
  /* background-color: darksalmon; */
  display: flex;
  flex-flow: row;
}
aside{
  width: 30%;
  height: auto;
  /* background-color: deeppink; */
  display: flex;
  flex-flow: column;
}
div.My_info{
  width: 100%;
  height:auto;
  display: flex;
  flex-flow: column;
}
div.aside_profile{
  width: 100%;
  height: auto;
  margin-top: 10px;
  font-family: font;
  font-size: 22px;
  color: rgb(92, 92, 92);
  display: flex;
  flex-flow: row;
  align-items: center;
}
div.aside_email{
  width: 100%;
  height: 40px;
  /* background-color: orangered; */
  font-family: font;
  font-size: 18px;
  color: rgba(128, 128, 128, 0.692);
  display: flex;
  flex-flow: row;
  align-items: center;
}
div.aside_descrip{
  width: 100%;
  min-height: 100px;
  height: auto;
  /* background-color: orangered; */
  font-family: font;
  /* font-size: 18px; */
  color: gray;
  display: flex;
  flex-flow: row;
  text-align: justify;
  text-justify: inter-word;
}
div.aside_univer{
  width: 100%;
  height: 45px;
  /* background-color: green; */
  display: flex;
  flex-flow: row;
  align-items: flex-end;
  margin-bottom: 5px;

}
div.aside_univer h5{
  font-family: font;
  font-size: 19px;
  color: rgb(92, 92, 92);
}
div.aside_title{
  width: 100%;
  height: auto;
  margin-bottom: 5px;
  /* background-color: orange; */
  font-family: font;
}
div.aside_title h5{
  font-family: font;
  font-size: 17px;
  color:rgb(92, 92, 92);
}
div.aside_enfasis{
  width: 100%;
  height: 30px;
  /* background-color: blue; */
  font-family: font;
}
div.aside_enfasis h5{
  font-family: font;
  font-size: 15px;
  color: rgb(92, 92, 92);
}
div.my_groups{
  background-color: #FFF;
  border-radius: 5px;
  width: 100%;
  height: auto;
  margin-top: 25px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
div.my_groups_profile{
  width: 90%;
  height: auto;
  margin-top: 10px;
  font-family: font;
  font-size: 22px;
  color: rgb(92, 92, 92);
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-bottom: 10px;
}
div.groups_block{
  width: 95%;
  height:70px;
  /* background-color: blue; */
  display: flex;
  flex-flow: row;
  margin-bottom: 5px;

}
div.gruop_icon{
  width: 30%;
  height: 100%;
  /* background-color: aqua; */
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
div.gruop_icon_circle{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: rgb(40, 176, 218);;
}
div.group_info{
  width: 70%;
  height: 100%;
  display: flex;
  flex-flow: column;
  /* justify-content: center;
  align-items: center; */
}
div.group_info_title{
  width: 100%;
  height: 50%;
  display: flex;
  flex-flow: row;
  align-items: center;
  /* background-color: red; */
  font-family: font;
  color: gray;
}
div.group_info_integra{
  width: 100%;
  height: 50%;
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  justify-content: flex-start;
  /* background-color: red; */
  font-family: font;
  color: rgba(128, 128, 128, 0.712);
}

div.project_list{
  width: 70%;
  height:auto;
  /* background-color:green; */
  display: flex;
  flex-flow: column;
  /* padding-top: 10px; */
  align-items: center;
}
div.target_b{
  width: 95%;
  height: auto;
  background-color: #FFF;
  border-radius: 2px;
  display: flex;
  flex-flow: column;
  margin-bottom: 5px;
}
div.header_target{
  display: flex;
  flex-flow: column;
  width: 100%;
  height: auto;
  /* background-color: red; */
  justify-content: center;
  align-items: center;
}
div.body_target{
  display: flex;
  flex-flow: row;
  width: 100%;
  /* min-height:200px; */
  height: 345px;
  justify-content: center;
  align-items: center;

}
div.adpta_img{
  width: 90%;
  height:90%;
  display: flex;
  flex-flow: row;
  /* background-color: green; */
  border-radius: 5px;
}
div.adpta_img img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

div.footer_target{
  display: flex;
  flex-flow: row;
  width: 100%;
  height: auto;
  /* background-color: palegreen; */
  justify-content: center;
  align-items: center ;
}
div.footer_target_wrapper{
  display: flex;
  flex-flow: row;
  width: 90%;
  min-height:50px;
  height: auto;
  justify-content: flex-start;
  align-items: center ;
}
div.footer_target_block{
  height:40px;
  min-width: 50px;
  width: auto;
  /* background-color: red; */
  display: flex;
  flex-flow: row;
}
div.block_link{
  height: 100%;
  width:100%;
  display: flex;
 flex-flow: row;
  align-items: center;
  font-family: font;
  color: gray;
  margin-right: 30px;
}
div.block_link p{
margin-left: 5px;
font-size: 13px;
}

div.header_target_title{
  width: 90%;
  min-height:50px;
  height: auto;
  font-family: font;
  color: gray;
  display: flex;
  flex-flow: row;
 align-items: flex-end;
}
div.header_target_desc{
  width: 90%;
  min-height:60px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: font;
  font-size: 14px;
  color: gray;
}
div.header_target_grou{
  width: 90%;
  min-height:30px;
  height: auto;
  font-family: font;
  color: gray;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
}
div.block_group{
  min-width: 80px;
  width: auto;
  height: 90%;
  /* background-color: red; */
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  font-family: font;
  font-size: 14px;
  margin-right: 15px;
}
div.block_group p{
  margin-left: 5px;
}
div.circle_group{
  min-width: 20px;
  border-radius: 50%;
  background-color: rgb(40, 176, 218);
  min-height: 20px;
}

.search-container {
  width: 37%;
  /* display: flex; */
  margin: 0px auto;
  height: 100%;
}

input#search-bar {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding: 0px 20px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  outline: none;
  /* display:  inline-block; */
  border-radius: 30px;
  background-color: #e6ecf0;
}
input#search-bar:focus {
  border: 1px solid #008ABF;
  transition: 0.35s ease;
  color: #008ABF;
}
input#search-bar:focus::-webkit-input-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}
input#search-bar:focus::-moz-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}
input#search-bar:focus:-ms-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}

.search-icon {
  position: relative;
  /* float: right; */
  /* width: 75px; */
  height: 75px;
  top: -57px;
  right: -183px;
}

.navbar-container{
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav{
  width: 100%;
}

.navbar-rigth-container, .navbar-left-container{
  display: flex;
  flex-direction: row;
  height: 62%;
  margin-left: 15px;
  align-items:  center;
  margin-right: 15px;
}

.navbar-logo{
  width: 30px;
}

.navbar-title{
  font-size: 20px;
  margin-left: 10px;
  font-family: 'Raleway', sans-serif;
}

#login-button{
  cursor: pointer;
}
